.do-with__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.do-with__container {
  flex: 0 1 48%;
  display: flex;
  margin-bottom: 2.5rem;
  background: $white;
  box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
}
.do-with__info {
  width: 100%;
  max-width: 26.25rem;
  padding: 1.3rem;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2.22;
  color:$black;
}
