.features {
  margin-bottom: 7.5rem;
}
.section-header {
  text-transform: uppercase;
  margin-bottom: 3.75rem;
  padding: 0.7rem 0;
  font-size: 1.9rem;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 5rem;
    height: 2px;
    background-color: $main;
    left: -1.5rem;
    bottom: 0;
  }
}
.features__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features__figure {
  height: 100%;
  min-height: 18.1rem;
  background: $white;
  flex: 0 1 28%;
  box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
  &:nth-child(2) {
    margin-top: 2.5rem;
  }
  &:nth-child(3) {
    margin-top: 5rem;
  }
}
.figure__container {
  display: flex;
  background: $features_bg;
}

.figure__title {
  width: 100%;
  max-width: 10rem;
  margin: 1.25rem  1.25rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
}
.figure__content {
  width: 240px;
  margin: 40px 40px 0;
  line-height: 1.88;
}
