
@import "var", "header", "bages", "features", "for", "do-with", "callback";


html,
body {
    height: 100vh;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: muli, sans-serif;
    color: $text;
    
}

.wrapper {
    max-width: 1440px;
    box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.438);
    margin: 0 auto;
    padding: 0 10rem;
    background: url(../../img/background-decor.svg);
}

.button {
    padding: .7rem 2rem;
    border: 1px solid transparent;
    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.43;
    color: $white;
    background:$secondary;
    &:hover {
        border: 1px solid $text;

    }
}