.header__container {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.header {
  background: url("../img/illustration-main.png") 100% 110% no-repeat;
  height: 100vh;
}
.header__button {
  display: none;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-link {
  margin-right: 2.3rem;
  padding-bottom: 0.2rem;
  color: #11223f;
  font-size: 0.9rem;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
.header__nav-link:last-child {
  margin-right: 0;
}
.header__nav-link:hover {
  border-bottom: 1px solid #11223f;
}
.header__title, .header__subtitle {
  width: 100%;
  max-width: 37.5rem;
}
.header__title {
  margin: 10rem 0 1.4rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
}
.header__subtitle {
  margin: 1.25rem 0 2.5rem;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
}

@media (max-width: 768px) {
  .header {
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    padding: 40px 0;
    background-color: #fff;
    overflow: visible;
    display: flex;
    justify-content: center;
  }
  .header__block {
    margin: 4rem 0 0;
    border: 1px solid #000;
  }
  .header__nav-link {
    display: block;
    margin: 20px 10px 0 0;
    font-size: 25px;
  }
  .header__logo {
    margin: unset;
  }
  .header__button {
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid #11223f;
    position: relative;
    top: 0;
    left: 30%;
  }
  .header__button-element {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 18%;
    margin-left: -1px;
    width: 30px;
    height: 3px;
    background-color: #212121;
  }
  .header__button-element:before, .header__button-element:after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #212121;
    transition: 0.5s;
  }
  .header__button-element:before {
    transform: translateY(-7px);
  }
  .header__button-element:after {
    transform: translateY(5px);
  }
  .header__button.open {
    border-radius: 50%;
  }
  .header__button.open + .header__block {
    display: flex;
  }
  .header__button.open .header__button-element {
    height: 0;
  }
  .header__button.open .header__button-element:before {
    transform: translate(2px, -2px) rotate(45deg);
    transition: left top;
  }
  .header__button.open .header__button-element:after {
    transform: translate(2px, -4px) rotate(-45deg);
    transition: right bottom;
  }
  .header__block {
    display: none;
    position: fixed;
    flex-direction: column;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #646161;
    margin-right: unset;
  }
  .header__nav {
    position: absolute;
    left: 33%;
    top: 20%;
    min-width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -5rem;
  }
}
@media (max-width: 480px) {
  .header__nav {
    left: 25%;
  }
  .header__button {
    left: 15%;
  }
}
@media (max-width: 320px) {
  .header__nav {
    left: 15%;
  }
}
.bages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 9.6rem;
}

.bage {
  background: #ffffff;
  padding: 2.5rem;
  flex: 0 0 48%;
  box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
}

.bage__container {
  display: flex;
  background: url("../../img/illustration-quote.jpg") no-repeat top right;
  margin-bottom: 2.5rem;
}

.bage__img {
  width: 100%;
  max-width: 8.25rem;
}

.bage__name,
.bage__position {
  width: 100%;
  max-width: 21.25rem;
}

.bage__name {
  margin: 1.25rem 0 0 1.25rem;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.67;
}

.bage__position {
  margin: 0.25rem 0 3.75rem 1.25rem;
  color: #1967fa;
  opacity: 0.8;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 2.14;
}

.bage__info {
  width: 100%;
  max-width: 28.75;
  line-height: 1.88;
}

.features {
  margin-bottom: 7.5rem;
}

.section-header {
  text-transform: uppercase;
  margin-bottom: 3.75rem;
  padding: 0.7rem 0;
  font-size: 1.9rem;
  position: relative;
}
.section-header::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 2px;
  background-color: #1967fa;
  left: -1.5rem;
  bottom: 0;
}

.features__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features__figure {
  height: 100%;
  min-height: 18.1rem;
  background: #ffffff;
  flex: 0 1 28%;
  box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
}
.features__figure:nth-child(2) {
  margin-top: 2.5rem;
}
.features__figure:nth-child(3) {
  margin-top: 5rem;
}

.figure__container {
  display: flex;
  background: #f3f7ff;
}

.figure__title {
  width: 100%;
  max-width: 10rem;
  margin: 1.25rem 1.25rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
}

.figure__content {
  width: 240px;
  margin: 40px 40px 0;
  line-height: 1.88;
}

.for__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 7.5rem;
}

.for__element {
  flex: 0 1 31%;
  min-width: 20rem;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
  background: #ffffff;
}

.for__header,
.for__description {
  width: 100%;
  max-width: 20rem;
  margin: 1.25rem 0 0;
}

.for__header {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1967fa;
}

.for__description {
  line-height: 1.88;
}

.do-with__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.do-with__container {
  flex: 0 1 48%;
  display: flex;
  margin-bottom: 2.5rem;
  background: #ffffff;
  box-shadow: 0 20px 60px 0 rgba(49, 69, 244, 0.1);
}

.do-with__info {
  width: 100%;
  max-width: 26.25rem;
  padding: 1.3rem;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2.22;
  color: #000000;
}

.callback {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 5rem 10rem;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 1px 2px rgba(0, 0, 0, 0.15);
  background: #1968fc url("../img/illustration-whiteglove.png") 105% -30% no-repeat;
  padding-bottom: 7rem;
}

.callback__header.section-header {
  color: #ffffff;
  margin-bottom: 3rem;
}
.callback__header.section-header::after {
  background-color: #ffffff;
}

.callback__info {
  width: 100%;
  max-width: 40rem;
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  line-height: 2;
  color: #ffffff;
}

.callback__button.button {
  background: #ffffff;
  color: #1968fc;
}

.contact-us {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 1px 2px rgba(0, 0, 0, 0.15);
}

.contacts {
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem;
}

.contacts__form {
  display: flex;
  flex: 0 1 48%;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__input {
  width: 435px;
  border-bottom: 2px solid #1968fc;
  margin-bottom: 1.5rem;
  padding: 1rem;
  line-height: 1.63;
  letter-spacing: 0.53px;
  color: #000000;
}

.contacts__button.button {
  width: 100%;
  max-width: 20rem;
}

.contacts__map {
  flex: 0 1 47.3%;
}

.contacts__img {
  width: 100%;
}

.footer {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts-container,
.footer__social {
  display: flex;
  justify-content: space-between;
}

.footer__contacts-element {
  margin-right: 2.5rem;
  font-size: 0.9rem;
  color: #000000;
  border-bottom: 1px solid transparent;
}
.footer__contacts-element:last-child {
  margin-right: 0;
}
.footer__contacts-element:hover {
  border-bottom: 1px solid #11223f;
}

.footer__social-element {
  width: 100%;
  margin-right: 1.5rem;
}
.footer__social-element:last-child {
  margin-right: 0;
}

html,
body {
  height: 100vh;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: muli, sans-serif;
  color: #11223f;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  box-shadow: -2px -1px 2px rgba(0, 0, 0, 0.15), 2px -1px 2px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 0 10rem;
  background: url(../../img/background-decor.svg);
}

.button {
  padding: 0.7rem 2rem;
  border: 1px solid transparent;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.43;
  color: #ffffff;
  background: #1968fc;
  cursor: pointer;
}
.button:hover {
  border: 1px solid #11223f;
}