$white: #ffffff;
$green: #23d87d;

body,
html {
    max-width: 1920px;
    height: 100vh;
    font-size: 16px;

}

body {
    font-family: 'Manrope', sans-serif;
    color: $text;
}

@import "header", "main", "footer";